<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>Petition for lifting the Sunday trade ban</title>
</head>
<body>

    {{{ body }}}

    <footer>
        <p>&copy; 2020 Marta Suchowicz</p>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/script.js"></script>

</body>
</html>