<div class="container">

<h1>No More Trade Ban In Poland!!!</h1>

<p>  Here You Can Check Who Signed Our Petition In {{city}} </p>

{{#if error}}
  <div class="error">Something went wrong! It is totally your fault.</div>
{{/if}}

{{!-- {{#each supporters}} --}}
<p>
    {{first}} {{last}}, {{age}}
</p>

{{!-- {{/supporters}} --}}

</div>
