<div class="container">
    <h1>Thank you very much for signing this petition!</h1>

    <div id="signature" class="p-container">
        <h3>{{first}}</h3><h3>{{last}}</h3> <img src={{signature}}> 
    </div>

    <div id="signature" class="p-container">
        <p> <a href="./signers">Here You Can Check Who Signed Our Petition</a></p>
    </div>
        
    <div id="signature" class="p-container">
        <p> Do You Want To Edit Your Profile? <a href="./edit"> Edit</a></p>
    </div>
    
</div>